langchain-community
langchain
requests
fastapi
uvicorn
pydantic
langchain-core
langchain-openai
pandas
numpy
langchain-google-genai
langchain-classic
beautifulsoup4
sentence-transformers
faiss-cpu
python-dotenv
sqlmodel